@import url(../../shared/scss/colors.scss);

.auth {
  width: 100%;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    margin: 130px 0;
    min-width: 500px;
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px;
    justify-content: center;

    &-title {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      color: var(--primary-darker);
      margin-bottom: 30px;
    }

    &-control {
      margin-bottom: 30px;

      &-link {
        font-size: 18px;
        position: relative;
        bottom: 7px;
      }
    }
  }
}
