:root {
  --header: #f8f8f8;
  --footer: rgb(61, 61, 61);
  --header-text: rgb(98, 98, 98);
  --primary: #008a5e;
  --secondary: #C4A267;
  --primary-darker: #00573b;
  --success: #26b9e2;
  --error: #a83052;
}
